# =========================
# Python y Jupyter Notebook
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
venv/
env/
.env

# =========================
# LaTeX (Memoria y Beamer)
# =========================
*.aux
*.bbl
*.blg
*.brf
*.fls
*.fdb_latexmk
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.synctex.gz
*.nav
*.snm
*.vrb
*.xml
*.gz
*.synctex*

# =========================
# Archivos del Sistema Operativo
# =========================
.DS_Store
Thumbs.db
ehthumbs.db